streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
chromadb
sentence-transformers
pypdf
python-dotenv
langchain-text-splitters
chromadb==0.5.5
protobuf==3.20.3
